.main-contact {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: calc((100% - 1100px) / 2);
  padding-right: calc((100% - 1100px) / 2);
}
.cooperate {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cooperate .cooperate-content {
  flex: 50%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 30px 0;
  height:auto;
}
//fix h2
.cooperate .cooperate-content h1{
  font-family: $font-text;
  font-style: normal;
  font-weight: 600;
  font-size: $lt-font-size-text-h2;
  line-height: $lt-line-height-text-h2;
  color: $second-primary;
  margin: $space-margin-top-bottom-l 0;
}
.cooperate .cooperate-content p {
  font-family: $font-text;
  font-style: normal;
  font-weight: 400;
  font-size: $lt-font-size-text-l;
  line-height: $lt-line-height-text-l;
  color: $second-primary;
  text-align: justify;
  // margin: ;
}
.anchor-contact-frm {
  height: 100px;
  margin-top: -100px;
}
.cooperate .cooperate-content p + p {
margin-top: $space-margin-top-bottom-l;
}
.cooperate .cooperate-content .button-cooperate {
  margin: $space-margin-top-bottom-l 0;
}
.cooperate .cooperate-content .button-cooperate a {
  text-decoration: none;
}
.cooperate .cooperate-content .button-cooperate a button {
  background: $background-color-button;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.cooperate .cooperate-content .button-cooperate a button:hover p {
  color: $second-primary;
  transition: 1s;
}
.cooperate .cooperate-content .button-cooperate a button p {
  font-family: $font-text;
  padding: $padding-button;
  color: #fff;
  font-size: $lt-font-size-text-l;
  line-height: $lt-line-height-text-l;
}
.cooperate .cooperate-block{
  flex: 50%;
  // width: calc(50% - 50px);
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  padding-left: $space-margin-top-bottom-l;
}
.cooperate .cooperate-block .image {
  width:100%;
  height: 600px;
  // margin: 70px 100px;
  background: url(../images/Busuness-deal-bro.png) no-repeat center center/cover;
  // background-repeat: no-repeat;
  border-radius: 6px;
  // border: 1px red solid;
}

.container-map {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $space-margin-top-bottom-l;
}
.container-map iframe {
  width: 100%;
  height: 100%;
  // margin: 0 100px 100px;
  // min-width: 500px;
}
//FORM CONTACT
.contact-block {
width: 100%;
  background-color: $primary;
  color: #fff;
  display: flex;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  flex-wrap:wrap;

}
.contact-block .infomation {
  flex: 50%;
  height: auto;
  position: relative;
  padding:$space-margin-top-bottom-sl 0;
  // font-size:25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: calc((100% - 1100px) / 2);
}
.contact-block .infomation img{
  min-height: 469px;
}
//fix h3
.contact-block .infomation h2 {
 font-family: $font-text;;
 font-style: normal;
 font-weight: 700;
 font-size: $lt-font-size-text-h3;
 line-height: $lt-line-height-text-h3;
//  padding: 10px 0;
}
.contact-block .infomation .item-contact {
 margin-top: 20px;
 width: 100%;
//  height: 30%;
 border-radius: 6px;
 background-color: #fff;
 display: flex;
 box-sizing: border-box;
//  max-width: 500px;
min-height: 130px;
}
.contact-block .infomation .item-left {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
}
.contact-block .infomation .item-right {
 width: 70%;
 height: auto;
 display: flex;
 justify-content: center;
 flex-direction:column;
 color: $second-primary;
}
//  .contact-block .infomation .item-right .infomation-container {
//    display: flex;
//    color: #151A3C;
//    justify-content: center;
//    flex-direction: column;
//  }
.contact-block .infomation .item-right a {
  text-decoration: none;
}
//fix h3
.contact-block .infomation .item-right h2 {
 font-family: $font-text;;
 font-style: normal;
 font-weight: 700;
 font-size: $lt-font-size-text-h4;
 line-height: $lt-line-height-text-h4;
}
.contact-block .infomation .item-right  p {
 font-family: $font-text;
 font-style: normal;
 font-weight: 400;
 font-size: $lt-font-size-text-h4;
 line-height: $lt-line-height-text-h4;
//  max-width: 300px ;
}
.contact-block .infomation .item-left .icon {
 width: 100%;
//  height: 50%;
 font-size: 70px;
//  font-size: 50px;//for mibile
 color: black;
 display: flex;
 justify-content: center;

}
.contact-block .contact-container {
  box-sizing: border-box;
  flex: 50%;
  // width: 50%;
  // min-width: 600px;
  padding: $space-margin-top-bottom-sl 64px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-right: calc((100% - 1100px) / 2);
}
.contact-block .contact-container .frm-contact {
// margin: 20px;
 width: 100%;
 height: auto;
 background-color:#fff;
 border-radius: 6px;
 color: $second-primary;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: $font-text;
 font-style: normal;
 min-height: 460px;
}
// fix to h3
.contact-block .frm-contact h2 {
 padding: $space-margin-top-bottom-l 0;
//  padding-top: ;
 font-weight: 700;
 font-size: $lt-font-size-text-h2;
 line-height: $lt-line-height-text-h2;
 padding-bottom: 0;
}
.contact-block .frm-contact input, select, option {
  font-family: $font-text;
 background-color:$home-air;
 width: 90%;
 height: auto;
//  min-height: 80px;
 margin: $space-margin-top-bottom-l 0;
 border-radius: 6px;
 box-sizing: border-box;
 font-size: $lt-font-size-text-l;
 line-height: $lt-font-size-text-l;
 resize: none;
 padding: 10px;
//  font-weight: 400;
}
.contact-block .frm-contact select {
  color: rgb(99, 99, 99);
}
.contact-block .frm-contact option {
  font-weight: 100 !important;
}
.contact-block .frm-contact textarea {
  font-family: $font-text;
background-color:$home-air;
 width: 90%;
 height: 50px;
 min-height: 80px;
 max-height: 160px;
 margin: 15px 20px;
 border-radius: 6px;
 box-sizing: border-box;
 font-size: $lt-font-size-text-l;
 line-height: $lt-line-height-text-l;
 resize: none;
 padding: 10px;
} 
.contact-block .frm-contact .btn-submit-contact {
  font-family: $font-text;
 background: $background-color-button;
 height: auto;
 width: 90%;
 min-height: 50px;
 margin: 15px 0;
 border-radius: 6px;
 box-sizing: border-box;
 font-size: $lt-font-size-text-l;
 color: #fff;
 font-style: normal;
 font-weight: 600;
 cursor: pointer;
 border: none;
}
.contact-block .frm-contact .btn-submit-contact:hover {
  color: $second-primary;
  transition: 1s;
}

.frm-contact input::placeholder{
 padding:10px;
}
//h1
//h1
// test
//test