.ui-dialog {
    position: fixed !important;
    z-index: 99999 !important;
    top: 110px !important;
    padding: 0;
    height: 80vh !important;
}
.ui-widget-header .ui-icon{
    background-image: url('../images/close-icon.png') !important;
    background-size: 20px;
}
.ui-icon {
    width: 25px !important;
    height: 25px !important;
}
.ui-dialog .ui-dialog-titlebar-close {
    display: flex !important;
    width: 75px !important;
    height: 25px !important;
    justify-content: center;
    align-items: center;
}
.ui-icon-closethick {
    background-position: 0% !important;
}
.ui-widget-header {
    background: white !important;
    border: none !important;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: auto !important;
}
.ui-dialog .ui-dialog-buttonpane {
    display: flex ;
    justify-content: center;
    align-items: center;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 !important;
    background: $primary;
    border: none !important;
}
.ui-button-text-only .ui-button-text {
    color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: none !important;
}
.ui-widget-content{
    color: #fff !important;
}
.ui-dialog .ui-dialog-content{
    padding: 0 !important;
}
.ui-dialog .ui-dialog-content canvas{
    width: 100%;
}
.ui-dialog .ui-resizable-se {
    display: none !important;
}
.ui-dialog .ui-dialog-content {
    height: 60vh !important;
}
.toolbar {
    width: 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    color: #fff;
}