.home11 {
    width: 100%;
    height: auto;
    background-color: $font-bottom;
}

.home11 .all-home11-dis {
    width: 100%;
    height: 100%;
    // padding: 25px;
    display: flex;
    align-items: center;
    padding: $space-margin-top-bottom-sl 0;
    // margin: calc($space-margin-top-bottom-l * 2) 0;
}

.home11 .all-home11 {
    width: 100%;
}

.home11 .all-home11 .all-flex-home11 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: calc((100% - 1100px) / 2);
    padding-right: calc((100% - 1100px) / 2);
    justify-content: space-between;
    gap: 30px;
}

.home11 .all-flex-home11 .square-home11 {
    width: 27%;
    border: 2px solid rgb(212, 214, 217);
    height: auto;
    box-shadow: -15px 15px 0 rgba(151, 158, 171, 0.2);
}
.home11 .all-flex-home11 .square-home11:hover {
    border-color: $primary;
    box-shadow: -18px 18px 0 rgba(151, 158, 171, 0.25);
    // transition: 0.5s ease;
}
.home11 .all-flex-home11 .square-home11:hover .btn-home11 {
    border-color: $primary;
}

.home11 .all-home11 h2 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: $lt-font-size-text-h2;
    line-height: $lt-line-height-text-h2;
    text-align: center;
    color: $color-text-header;
    margin-bottom: $space-margin-top-bottom-sl;
    // transform: translateY(-30%);
}

.home11 .img-home11 img {
    width: 80%;
}

.home11 .square-home11 .btn-home11 {
    background: #FAFAFA;
    border: none;
    // border-radius: 6px;
    width: 80%;
    padding: 10px;
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: $lt-font-size-text-l;
    line-height: $lt-line-height-text-l;
    text-align: center;
    color: $second-primary;
    margin-top: 10px;
    border-top: 1px solid rgb(212, 214, 217) ;
}

