.service1-items-none {
    width: 100%;
    height: 60vh;
    position: relative;
    margin-top: 100px;
}


.service1-items-none .square-service1-items-none {
    width: 48vh;
    height: 48vh;
    border-radius: 50%;
    background-color: #F5F5F5;
    position: absolute;
    top: -25%;
    left: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-service1-items-none h1 {
    background: linear-gradient(180deg, #EC6C65 0%, #EFA156 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: $font-text;
    font-style: normal; 
    font-weight: 700;
    font-size: $lt-font-size-text-h1;
    line-height: $lt-line-height-text-h1;
    letter-spacing: -0.06em;
    transform: translateX(10%);
    transform: translateY(15%);
    padding-right: 5px;
}

.service1-items-none .img-service1-items-none img {
    width: 85%;
    right: 0;
    position: absolute;
    bottom: 5%;
    height: 250px ;
}
.service1-items-none .fix-img-item-none {
    height: 300px !important;
}
.service1-content {
    width: 100%;
    height: auto;
}
.service1-contents {
    display: none;
}

// .service1-contents .content-service1-items-none {
//     // bottom: 15%;
//     // position: absolute;
// }

.service1-contents .content-service1-items-none p {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: $lt-font-size-text-l;
    line-height: $lt-line-height-text-l;
    color: $font-black;
    padding: 0 20px;
    transform: translateY(0%);
    text-align: justify;
}

.image-service1-items-none {
    width: 65%!important;
    // top: 15%!important;
}

.image1-service1-items-none {
    width: 62%!important;
    // top: 13%!important;
}

.fix-h1 h1{
    font-size: $mb-font-size-text-h3 !important;
}

.service1-contents form {
    margin: 20px 0;
    background-color: $white-contact;
    box-shadow: 3px 6px 12px 2px rgba(138, 136, 136, 0.25);
    border-radius: 6px;
    height: 60px;
    display: flex;
    width: 95%;
    align-items: center;
    padding: 10px;
    justify-content: center;

}

.service1-contents form .all-form {
    display: flex;
    width: 100%;
}

.service1-contents .all-form input {
    padding:8px;
    border:none;
    border-bottom: 1px solid $bottom-soid;
    width:100%;
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: $mb-font-size-text-m;
    color: $font-black;
}

.service1-contents .all-form button{
    // max-height: 30px;
    min-width: 125px;
    background: $background-color-button;
    border-radius: 6px;
    border: none;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;

}
.service1-contents .all-form button p {
    display: flex;
    padding: $padding-button;
    font-family: $font-text;
    font-size: calc($mb-font-size-text-nr + 2px);
    color: #fff;
    flex-wrap: nowrap;
    
}